html, body {
    background-color: #fafafa;
    font-family: arial;
    margin: 0;
    padding: 0;
}
.main {
    max-width: 800px;
    text-align: center;
    background-color: #fff;
    box-shadow: 2px 2px 2px #eee;
    border: 1px solid #eee;
    padding-bottom: 100px;
    margin: 0 auto;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 16px;
    font-weight: normal;
}
h1, h2 {
    margin: 5px;
}
#logo {
    width: 64px;
    height: 64px;
    margin-top: 5px;
}

#chart {
    height: 400px;
    width: 100px;
    position: relative;
    margin: 20px auto;
}
#chart-background {
    background: linear-gradient(180deg, rgb(241, 194, 50), rgba(241, 194, 50, 0.5));
    height: 0px;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transition: opacity 1.25s ease-in, height 1.25s ease;
}
#chart-background.visible {
    opacity: 1;
    height: 400px;
}
#chart-labels {
    position: absolute;
    left: -50px;
    width: 50px;
    font-size: 12px;
    height: 100%;
}
#chart-labels div {
    width: 100%;
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 0;
    padding-right: 5px;
    border-top: 1px solid #000;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}
#chart-labels div.visible {
    opacity: 1;
}
#chart-label-25 {
    top: 75%;
    transition-delay: 0.25s;
}
#chart-label-50 {
    top: 50%;
    transition-delay: 0.5s;
}
#chart-label-75 {
    top: 25%;
    transition-delay: 0.75s;
}
#chart-label-100 {
    top: 0%;
    transition-delay: 1s;
}

#chart-raised {
    background: linear-gradient(180deg, rgb(9, 80, 145), rgb(7, 55, 99));
    width: 100px;
    position: absolute;
    bottom: 0;
    height: 0;
    opacity: 0;
    transition: height 1.5s ease-out 1s, opacity 1.5s ease 0.5s;
}
#chart-raised-label-container {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 5px;
}
#chart-raised-label {
    transition: opacity 0.5s ease-in 1.5s;
    color: rgb(241, 194, 50);
    text-align: center;
    opacity: 0;
}
#chart-raised.visible {
    opacity: 1;
}
#chart-raised.visible #chart-raised-label {
    transition: opacity 1.5s ease 1s;
    opacity: 1;
}

#donation-metadata {
    opacity: 0;
    transition: opacity 0.5s ease-in 4s;
}
#donation-metadata.visible {
    opacity: 1;
}
#alumni-message {
    margin: 10px auto;
    max-width: 430px;
}
