/* BASICS */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #4a4a4a;
    height: 100%;
}

* {
/*    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
*/}

th {
    font-weight: normal;
}

.img-scaled-wh {
    height: 100%;
    width: 100%;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

/*===================================================*/

/* HEADER/TAB BAR */
#error {
    display: none;
    color: red;
}

ul a {
    text-decoration: none;
    color: inherit;
}

#tab-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 25px;
}

.tab-item {
    display: inline;
    padding: 5px 0;
    margin: 0 10px;
}

.tab-item:hover {
    color: #231F5A;
    border-bottom: 3px solid #231F5A;
}

.tab-item:first-child {
    padding: 5px 0;
    margin-left: 0;
}

.tab-item:last-child {
    padding: 5px 0;
    margin-right: 0;
}

.current {
    font-weight: bold;
    color: #231F5A;
    border-bottom: 3px solid #231F5A;
}

#main-content {
    max-width: 960px;
    margin-right: 0;
    margin-left: 225px;
    padding-top: 25px;
}

h1 {
    margin-top: 0;
}

/* MATCH TABLE STYLES */

/*TODO ensure that the table is always full width somehow */
.match-table {
    border-collapse: collapse;
    width: 100%;
    white-space: wrap;
    vertical-align: center;
    text-align: center;
}

.placeholder {
    opacity: 0;
}

.match-table-head {
    background-color: black;
    font-size: 1em;
    color: white;
}

.match-table-head-row th {
    padding: 1em;
}

.match-table-row {
    border-bottom: 1px solid #ccc;
    opacity: 0.9;
}

/* TODO find pretty and consistent way to highlight */
.match-table-row:hover {
    opacity: 1;
}

.match-table-row td {
    padding: 1em;
}

.blue {
    background-color: #363895;
    color: white;
}

.gold {
    background-color: #c7aa36;
    color: white;
}

.blue.highlighted {
    background-color: #1B1481;
}

.gold.highlighted {
    background-color: #E5BF31;

}


/* TEAM NAMES SIDEBAR */

#team-sidebar {
    box-sizing: border-box;
    height: 100%;
    width: 200px;
    padding: 20px;
    background-color: #F2F2F2;
    position: fixed;
    overflow-y: scroll;
    z-index: 10;
}

#team-sidebar-title {
    border-bottom: 1px dotted #cccccc;
    font-size: 1em;
    margin-bottom: 10px;
}

.team-link {
    background-color: #DDDDDD;
    padding: 3px;
    margin: 10px 0;
    border-radius: 3px;
}

.team-link:hover, .team-link.highlighted {
    background-color: #C3C3C3;
    cursor: pointer;
}
